a {
    font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size:   9pt;
}
a:link    {color:#000000; text-decoration: underline;}
a:visited {color:#000000; text-decoration: underline;}
a:active  {color:#FF3300; text-decoration: underline;}
a:hover   {color:#FF3300; text-decoration: underline;}

.text {
	font-family: Verdana, Arial, sans-serif;
	font-size:   9pt;
	color:       #000000;
	line-height: 1.5;
}

.smalltitle {
	font-family: Verdana, Arial, sans-serif;
	font-size:   11pt;
	font-weight: bold;
	color:       #000000;
}

.notice {
	font-family: Verdana, Arial, sans-serif;
	font-size:   9pt;
	font-weight: bold;
	color:       #000000;
}

.title {
	font-family: Verdana, Arial, sans-serif;
	font-size:   13pt;
	font-weight: bold;
	color:       #000000;
}

input, textarea, select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  border: 1px solid #000000;
}

.bf_container, .php_container
{
	background : #FBFBFB;
	font-family : "Courier New", Courier, monospace;
	font-size: 9pt;
	border : 1px solid #707070;
	padding: 4px 6px;
}

.bf_important
{
	color: #DD0000;
}

.php_code {
	font-family : "Courier New", Courier, monospace;
	font-size   : 9pt;
	color       : #000000;
}

.php_important {
	font-weight: bold;
}

.php_comment {
	color : #FF8000;
}

.php_default {
	color : #0000BB;
}

.php_html {
	color : #000000;
}

.php_keyword {
	color : #007700;
}

.php_string {
	color : #DD0000;
}
